.difficultyMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.btnsContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.btnsContainer .btnDefault {
    width: 105px;
}

.easy {
    color: #C3FFB4;
}

.normal {
    color: #FFF6A3;
}

.hard {
    color: #FFA6A6;
}