* {
    color: white;
    font-family: 'inter';
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-weight: 500;
}

body {
    background: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

h1,
h1 span {
    font-size: 42px;
    font-weight: 900;
}

.githubBtn {
    background: #191919;
    border-radius: 5px;
    font-size: 28px;
    height: 50px;
    width: 50px;
    text-decoration: none;
    font-weight: 900;
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.githubBtn svg {
    width: 25px;
    height: 25px;
}

.superV {
    color: #ECCCFF;
}

.superH {
    color: #FFE5B1;
}

h2 {
    font-size: 22px;
    font-weight: 900;
}

.btnDefault {
    border-radius: 5px;
    background: #191919;
    padding: 13px;
    border: none;
    cursor: pointer;
}